.bg-image {
    filter: blur(40px);
    -webkit-filter: blur(40px);
    max-height: 1000px;
}

.front-image {
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    max-height: 80%;
    border-radius: 10px;
    border: 2px solid #cccc;
}

.title {
    font-size: 64px;
    color: #FFFFFF;
    top: 25%;
    left: 30%;
    transform: translate(-25%, -30%);
}

.description {
    top: 40%;
    left: 25%;
    font-size: 36px;
    color: #FFFFFF;
    max-width: 30%;
    transform: translate(-20%, -20%);
    
}

.btn {
    font-size: 36px;
    color: #FFFFFF;
    top: 80%;
    left: 30%;
    transform: translate(-25%, -20%);
}

.search {
    max-width: 20%;
    height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.search::placeholder {
    color: #FFFFFF;
}

.movies-title {
    font-size: 36px;
    font-weight: bold;
    margin-right: 85%;
}

@media(max-width:2000px){
    .front-image{
        max-height: 70%;
        max-width: 80%;
    }
    
    .title {
        font-size: 48px;

    }
    .description {
        font-size: 24px;
    }
}

@media(max-width:2000px){
    .front-image{
        max-height: 60%;
        max-width: 70%;
    }
    .title{
        font-size: 36px;
    }
    .btn {
        font-size: 24px;
    }
}

@media(max-width:1440px) {
    .front-image{
        max-height: 50%;
        max-width: 60%;
    }

    .description {
        font-size: 18px;
    }

    .btn {
        top: 60%;
        font-size: 18px;
    }
}

@media(max-width:1200px) {
    .front-image{
        display: none;
    }

    .title{
        left: 50%;
        max-width: 60%

    }

    .description {
        left: 35%;
        max-width: 60%
    }
    
    .btn {
        left: 45%;

    }

    .bg-image {
        filter: blur(3px);
        -webkit-filter: blur(3px);
        max-height: 1000px;
    }
}
