.cards-container {
    max-width: 300px;
}

img{
    cursor: pointer;
}

.title{
    font-size: 24px;
    font-weight: bold;
}

.thumbnail-card {
    background-color: rgb(31, 29, 29);
}

.rating {
    color: gold;
}

.watchlist-button {
    margin-right: 80%;
    color: #777777;
    background-color: rgb(31, 29, 29);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.watchlist-button.active {
    background-color: black;
    color: #FFFFFF;
}